RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/maintenance\.html$
RewriteRule ^(.*)$ http://3arrowscoffeecompany.com/maintenance.html [R=307,L]

ErrorDocument 503 /maintenance.html
RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
RewriteCond %{REQUEST_URI} !(/maintenance.html)
RewriteRule ^.*$ - [R=503,L]
